<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add Station Page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/offcanvas.css}">
</head>
<body class="bg-light">
<div th:replace="page/admin/adminNavbar.html ::  nav"></div>

<main class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-5 mt-5 p-3">
            <form th:method="post" th:action="@{/addStation}" th:object="${station}"
                  enctype="application/x-www-form-urlencoded">

                <div th:if="${#fields.hasErrors('number')}"
                     class="alert alert-dark" role="alert">
                    <span th:errors="*{number}">Number error</span>
                </div>

                <div class="mb-3">
                    <label for="inputNumber" class="form-label" th:text="#{th.number}">Number</label>
                    <input th:field="*{number}" type="number" class="form-control" id="inputNumber"
                           th:placeholder="#{placeholder.number}" required>
                </div>

                <div th:if="${#fields.hasErrors('capacity')}"
                     class="alert alert-dark" role="alert">
                    <span th:errors="*{capacity}">Capacity error</span>
                </div>

                <div class="mb-3">
                    <label for="inputCapacity" class="form-label" th:text="#{label.capacity}">Capacity</label>
                    <input th:field="*{capacity}" type="number" class="form-control"
                           id="inputCapacity"
                           th:placeholder="#{placeholder.capacity}">
                </div>

                <button type="submit" class="btn btn-dark" th:text="#{button.submit}">Submit</button>
            </form>
        </div>
    </div>
</main>
<div th:replace="page/admin/adminFooter.html ::  footer"></div>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/js/offcanvas.js}"></script>
</body>
</html>
