<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-success" aria-label="Main navigation">
    <div class="container-fluid">
        <a th:href="@{/}" class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
            <img th:src="@{/resources/images/icon2.png}" width="100" height="50"
                 role="img" aria-label="Bootstrap" alt="BIKE"></a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse flex-fill" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a th:href="@{/admin/adminPage}"
                       class="nav-link px-2 text-white" th:text="#{button.home}">Home</a></li>
                <li class="nav-item">
                    <a th:href="@{/admin/adminPage}"
                       class="nav-link">Profile</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="drop1" data-bs-toggle="dropdown" aria-expanded="true">Users</a>
                    <ul class="dropdown-menu" aria-labelledby="drop1">
                        <li><a class="dropdown-item" href="#">AddUser</a></li>
                        <li><a class="dropdown-item" href="#">EditUser</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/allUsersPage}">ShowAllUsers</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="drop2" data-bs-toggle="dropdown" aria-expanded="true">Admins</a>
                    <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><a class="dropdown-item" href="#">AddAdmin</a></li>
                        <li><a class="dropdown-item" href="#">EditAdmin</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/allAdminsPage}">ShowAllAdmins</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="drop3" data-bs-toggle="dropdown" aria-expanded="false">Bicycles</a>
                    <ul class="dropdown-menu" aria-labelledby="drop3">
                        <li><a class="dropdown-item" th:href="@{/addBicycle}">AddBicycle</a></li>
<!--                        <li><a class="dropdown-item" href="#">EditBicycle</a></li>-->
                        <li><a class="dropdown-item" th:href="@{/admin/allBicycles}">ShowAllBicycles</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="drop4" data-bs-toggle="dropdown" aria-expanded="false">Stations</a>
                    <ul class="dropdown-menu" aria-labelledby="drop4">
                        <li><a class="dropdown-item" th:href="@{/addStation}">AddStation</a></li>
<!--                        <li><a class="dropdown-item" th:href="@{/admin/editStation}">EditStation</a></li>-->
                        <li><a class="dropdown-item" th:href="@{/admin/allStations}">ShowAllStations</a></li>
                    </ul>
                </li>
            </ul>

            <form th:action="@{/logout}" th:method="post" enctype="application/x-www-form-urlencoded">
                <div class="text-end">
                    <button type="submit" class="btn btn-outline-light me-2">Log out</button>
                </div>
            </form>
            <div class="text-end">
                <ul class="nav col-md-2 col-lg-auto me-lg-auto mb-2 justify-content-end mb-md-0">
                    <li class="justify-content-end p-1">
                        <div th:replace="~{fragments/locale::locale}"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>