<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Admin All stations Page</title>
  <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/resources/css/offcanvas.css}">
</head>
<body class="bg-light">
<div th:replace="page/admin/adminNavbar.html ::  nav"></div>
<main class="container">

<table class="table table-striped table-bordered">
  <caption>Stations table</caption>

  <thead class="table-secondary">
  <tr>
    <th scope="col" th:text="ID">ID</th>
    <th scope="col" th:text="#{th.number}">Number</th>
    <th scope="col" th:text="#{th.capacity}">Capacity</th>
    <th scope="col" th:text="#{th.delete}">Delete</th>
    <th scope="col" th:text="#{th.edit}">Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="station:${allStations}">
    <td th:text="${station.id}"></td>
    <td th:text="${station.number}"></td>
    <td th:text="${station.capacity}"></td>
    <td>
      <div>
        <a th:href="@{/admin/deleteStation/{id}(id=${station.id})}">
          <input class="btn-warning" type="submit" th:value="#{th.delete}">
        </a>
      </div>
    </td>
    <td>
      <div>
        <a th:href="@{/admin/editStation/{id}(id=${station.id})}">
          <input class="btn-secondary" type="submit" th:value="#{th.edit}">
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" th:each="page,iterStat:${countPages}">
      <a class="page-link" th:href="@{'?offset='+${page}}" th:text="${iterStat.count}"></a>
    </li>
  </ul>
</nav>
</main>
<div th:replace="page/admin/adminFooter.html ::  footer"></div>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/js/offcanvas.js}"></script>
</body>
</html>